<header class="header">
    <div class="container">
        <div class="logo">
            <a href="#"><img src="assets/logo.svg" alt=""></a>
        </div>
        <div class="magiclogo">
            <a href="#"><img src="assets/logo2.png" alt=""></a>
        </div>
    </div>
</header>
<!-- Header Section -- End -->

<!-- Middle Section -- Start -->

<div class="fullSection">
    <div class="leftbar">
        <div class="prizeBox"> <span class="icn"><img src="assets/gift-icon.svg" alt="" /></span> <strong>500</strong>
            <h4>PRIZES DAILY</h4>
        </div>
        <div class="prizeBox"> <span class="icn"><img src="assets/car-icon.svg" alt="" /></span> <strong>One</strong>
            <h4>BUMPER PRIZE</h4>
        </div>
    </div>
    <div class="formsection">
        <h1 class="heading">GUESS THE BUMPER PRIZE</h1>
        <div class="form">
            <form>
                <div class="form_row">
                    <div class="form_group">
                        <label class="label">Full Name *</label>
                        <input type="text" class="form_field" id="">
                    </div>
                    <div class="form_group">
                        <label class="label">Mobile No *</label>
                        <input type="tel" class="form_field" id="mobile">
                    </div>
                    <div class="form_group">
                        <label class="label">Pin Code *</label>
                        <input type="text" class="form_field" id="">
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_group">
                        <label class="label">Gender *</label>
                        <select class="form_field">
              <option>Select Gender</option>
              <option>Male</option>
              <option>Female</option>
            </select>
                    </div>
                    <div class="form_group">
                        <label class="label">Age *</label>
                        <select class="form_field">
              <option>Select Age</option>
              <option>15-20</option>
              <option>20-25</option>
            </select>
                    </div>
                    <div class="form_group">
                        <label class="label">City *</label>
                        <input type="text" class="form_field" id="" placeholder="Enter City">
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_group w100">
                        <label class="label bold">Which is your preferred content in The Times of India ? (optional)</label>
                        <div class="radioBtns">
                            <div class="radio">
                                <input type="radio" name="content" id="r1">
                                <label for="r1">Business</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="content" id="r2">
                                <label for="r2">Sports</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="content" id="r3">
                                <label for="r3">City</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="content" id="r4">
                                <label for="r4">Nation</label>
                            </div>
                            <div class="clear"></div>
                            <div class="radio">
                                <input type="radio" name="content" id="r5">
                                <label for="r5">Politics</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="content" id="r6">
                                <label for="r6">International</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="content" id="r7">
                                <label for="r7">Opinion</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="content" id="r10">
                                <label for="r10">Times Life</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="content" id="r8">
                                <label for="r8">Education Times</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="content" id="r9">
                                <label for="r9">I don't read TOI</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_group w100">
                        <label class="label bold">Your Answer</label>
                        <input type="text" class="form_field" id="">
                    </div>
                </div>
                <div class="form_row submit">
                    <div class="form_group w100">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Middle Section -- End -->

<!-- Footer Section -- Start -->
<footer class="footer">
    <p class="left"> <a href="#">Terms & Conditions</a> <span class="divider">|</span> For any queries, write to us at <a href="mailto:support@toinm.com">support@toinm.com</a> or call us at <a href="tel:+91-8448709561">+91-8448709561</a> (10AM To 7PM)</p>
    <p class="right">©2020 All Rights Reserved @ Bennett Coleman and Company Limited.</p>
</footer>