<header class="header">
    <div class="container">
        <div class="logo">
            <a href="#"><img src="assets/logo.svg" alt=""></a>
        </div>
        <div class="magiclogo">
            <a href="#"><img src="assets/logo2.png" alt=""></a>
        </div>
    </div>
</header>
<!-- Header Section -- End -->

<!-- Middle Section -- Start -->

<div class="fullSection">
    <div class="leftbar">
        <div class="prizeBox"> <span class="icn"><img src="assets/gift-icon.svg" alt="" /></span> <strong>500</strong>
            <h4>PRIZES DAILY</h4>
        </div>
        <div class="prizeBox"> <span class="icn"><img src="assets/car-icon.svg" alt="" /></span> <strong>One</strong>
            <h4>BUMPER PRIZE</h4>
        </div>
    </div>
    <div class="formsection white">
        <h1 class="heading">JUST FILL IN THE DETAILS BELOW AND YOU ARE GOOD TO GO</h1>
        <div class="form">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="form_row">
                    <div class="form_group">
                        <label class="label">Full Name *</label>
                        <input type="text" class="form_field" formControlName="fullName">
                        <div *ngIf="f.fullName.errors && f.fullName.touched" class="invalid-feedback">
                            <div class="error">{{getErrorName()}}</div>
                        </div>
                        
                    </div>
                    <div class="form_group">
                        <label class="label">Mobile No *</label>
                        <input type="number" class="form_field" formControlName="mobileNumber">
                        <div *ngIf="f.mobileNumber.errors && f.mobileNumber.touched" class="invalid-feedback" > 
                            <span class="error">{{getErrorPhone()}}</span>
                            <!-- <div class="error" *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div> -->
                        </div>
                    </div>
                    <div class="form_group">
                        <label class="label">Pin Code *</label>
                        <input type="number" class="form_field" formControlName="pincode">
                        <div *ngIf="f.pincode.errors && f.pincode.touched" class="invalid-feedback">
                            <span class="error">{{ getErrorPincode()}}</span>
                            <!-- <div class="error" *ngIf="f.pincode.errors">Pincode is required</div> -->
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_group">
                        <label class="label">Gender *</label>
                        <select class="form_field" formControlName="Gender">
                            <option disabled value="">Select Gender</option>
                            <option *ngFor="let gender of gender" [ngValue]=gender>{{gender}}</option>
                        </select>
                        <div *ngIf="f.Gender.errors && f.Gender.touched" class="invalid-feedback">
                            <div class="error" *ngIf="f.Gender.errors.required">Field is required</div>
                        </div>
                    </div>
                    <div class="form_group">
                        <label class="label">Age *</label>
                        <input type="number" class="form_field" formControlName="Age">
                        <div *ngIf="f.Age.errors && f.Age.touched" class="invalid-feedback">
                            <div class="error">{{getErrorAge()}}</div>
                        </div>
                    </div>
                    <div class="form_group">
                        <label class="label">City *</label>
                        <input type="text" class="form_field" placeholder="Enter City" formControlName="City">
                        <div *ngIf="contactForm.controls['City'].invalid && f.City.touched" class="invalid-feedback">
                            <div class="error">{{ getErrorCity()}}</div>
                        </div>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_group w100">
                        <label class="label bold">Which is your preferred content in The Times of India ? (optional)</label>
                        <div class="radioBtns">
                            <div class="custom-control custom-radio radio" *ngFor="let newoption of NewsOptions; let i = index;">
                                <input type="checkbox" #el (change)="onCheckBoxChanges(el, newoption.id)" class="custom-control-input" [checked]="newoption.checked" formControlName="NewsType">
                                <label class="custom-control-label">{{newoption.paperType}}</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form_row">
                    <div class="form_group w100">
                        <label class="label bold">Your Answer</label>
                        <input type="text" class="form_field" formControlName='Opinion'>

                    </div>
                </div>
                <div class="form_row submit">
                    <div class="form_group w100">
                        <!-- class="btn"   ng-class="{'btn': contactForm.valid , 'btn': !contactForm.valid}"-->
                        <button  [ngClass]="{'btn': !contactForm.invalid, 'btn1': contactForm.invalid}" [disabled]='contactForm.invalid' >{{buttonData}}</button>
                    </div>
                </div>
              
            </form>
        </div>
    </div>
</div>


<!-- Middle Section -- End -->

<!-- Footer Section -- Start -->
<footer class="footer">
    <p class="left"> <a href="#">Terms & Conditions</a> <span class="divider">|</span> For any queries, write to us at <a href="mailto:support@toinm.com">support@toinm.com</a> or call us at <a href="tel:+91-8448709561">+91-8448709561</a> (10AM To 7PM)</p>
    <p class="right">©2020 All Rights Reserved @ Bennett Coleman and Company Limited.</p>
</footer>