<!-- Header Section -- Start -->
<header class="header">
    <div class="container">
        <div class="logo">
            <a href="#"><img src="assets/logo.svg" alt=""></a>
        </div>
        <div class="magiclogo">
            <a href="#"><img src="assets/logo2.png" alt=""></a>
        </div>
    </div>
</header>
<!-- Header Section -- End -->

<!-- Middle Section -- Start -->

<div class="fullSection">
    <div class="leftbar">
        <div class="prizeBox"> <span class="icn"><img src="assets/gift-icon.svg" alt="" /></span> <strong>500</strong>
            <h4>PRIZES DAILY</h4>
        </div>
        <div class="prizeBox"> <span class="icn"><img src="assets/car-icon.svg" alt="" /></span> <strong>One</strong>
            <h4>BUMPER PRIZE</h4>
        </div>
    </div>
    <div class="formsection">

        <div class="thankyou">
            <div class="dflex">
                <div class="px-5">
                    <img src="assets/thankyou-icon.png" alt="" />
                    <h1>Thank You</h1>
                    <p>Your entry has been recorded successfully, for further information please visit our facebook page link down below. If you have any quarries write to us at support@toinm.com or call us at +91-8448709561 (10AM To 7PM)</p>
                    <h6>Be the first of your friends to like Number Magic</h6>
                    <span class="fbLike"><a href="#"><i><img src="assets/fb.png"  alt="" /></i> Liked 21k</a></span>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Middle Section -- End -->

<!-- Footer Section -- Start -->
<footer class="footer">
    <p class="left"> <a href="#">Terms & Conditions</a> <span class="divider">|</span> For any queries, write to us at <a href="mailto:support@toinm.com">support@toinm.com</a> or call us at <a href="tel:+91-8448709561">+91-8448709561</a> (10AM To 7PM)</p>
    <p class="right">©2020 All Rights Reserved @ Bennett Coleman and Company Limited.</p>
</footer>
<!-- Footer Section -- End -->