<!-- Header Section -- Start -->
<header class="header">
    <div class="container">
        <div class="logo">
            <a href="#"><img src="assets/logo.svg" alt=""></a>
        </div>
        <div class="magiclogo">
            <a href="#"><img src="assets/logo2.png" alt=""></a>
        </div>
    </div>
</header>
<!-- Header Section -- End -->

<!-- Middle Section -- Start -->

<div class="fullSection">
    <div class="leftbar">
        <div class="prizeBox"> <span class="icn"><img src="assets/gift-icon.svg" alt="" /></span> <strong>500</strong>
            <h4>PRIZES DAILY</h4>
        </div>
        <div class="prizeBox"> <span class="icn"><img src="assets/car-icon.svg" alt="" /></span> <strong>One</strong>
            <h4>BUMPER PRIZE</h4>
        </div>
    </div>
    <div class="formsection">

        <div class="thankyou">
            <div class="dflex">
                <div class="px-5">
                    <img src="assets/error.png" alt="" />
                    <h1>Error 404</h1>
                    <h5>Error!!!</h5>
                    <p>The page does not exist or is unavailable</p>
                  
                    <span class="fbLike"><a href="https://www.toinm.com/">Go Back to Homepage</a></span>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Middle Section -- End -->

<!-- Footer Section -- Start -->
<footer class="footer">
    <p class="left"> <a href="#">Terms & Conditions</a> <span class="divider">|</span> For any queries, write to us at <a href="mailto:support@toinm.com">support@toinm.com</a> or call us at <a href="tel:+91-8448709561">+91-8448709561</a> (10AM To 7PM)</p>
    <p class="right">©2020 All Rights Reserved @ Bennett Coleman and Company Limited.</p>
</footer>
<!-- Footer Section -- End -->